[submodule "gitoxide"]
	path = gitoxide
	url = https://github.com/GitoxideLabs/gitoxide
[submodule "submod"]
	path = submod
	url = https://github.com/bashandbone/submod
[submodule "magoo"]
	path = magoo
	url = https://github.com/Pistonite/magoo
[submodule "git-submodule-tools"]
	path = git-submodule-tools
	url = https://github.com/kollerma/git-submodule-tools
[submodule "naersk"]
	path = naersk
	url = https://github.com/nix-community/naersk
[submodule ".emacs.d/terlar-emacs-config"]
	path = .emacs.d/terlar-emacs-config
	url = https://github.com/terlar/emacs-config
[submodule "qa/incidents/CRQ-001-incident"]
	path = qa/incidents/CRQ-001-incident
	url = https://github.com/meta-introspector/git-submodules-rs-nix.git
