[submodule "gitoxide"]
	path = gitoxide
	url = https://github.com/GitoxideLabs/gitoxide
[submodule "submod"]
	path = submod
	url = https://github.com/bashandbone/submod
[submodule "magoo"]
	path = magoo
	url = https://github.com/Pistonite/magoo
[submodule "git-submodule-tools"]
	path = git-submodule-tools
	url = https://github.com/kollerma/git-submodule-tools
[submodule "naersk"]
	path = naersk
	url = https://github.com/nix-community/naersk
[submodule ".emacs.d/terlar-emacs-config"]
	path = .emacs.d/terlar-emacs-config
	url = https://github.com/terlar/emacs-config
[submodule "qa/templates/incident"]
	path = qa/templates/incident
	url = https://github.com/meta-introspector/qa-incident-template
[submodule "qa/incidents/CRQ-003-incident"]
	path = qa/incidents/CRQ-003-incident
	url = ./qa/incidents/CRQ-003-incident
[submodule "qa/incidents/CRQ-004-incident"]
	path = qa/incidents/CRQ-004-incident
	url = ./qa/incidents/CRQ-004-incident
[submodule "tools/tool-template"]
	path = tools/tool-template
	url = https://github.com/meta-introspector/tool-template-repo
[submodule "tools/wikidata"]
	path = tools/wikidata
	url = https://github.com/meta-introspector/wikidata-tool-repo
[submodule ".emacs.d/nix-magit"]
	path = .emacs.d/nix-magit
	url = https://github.com/akirak/nix-magit
[submodule "sources/meta-introspector/monomcp-rust"]
	path = sources/meta-introspector/monomcp-rust
	url = https://github.com/meta-introspector/monomcp-rust
